fluxo-node-red.json
[
    {
        "id": "e8e410212f80d4d2",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "efc040c737662a39",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92cc920f8b4dcad7",
        "type": "ui_tab",
        "name": "bomba",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2f8142b490d6388",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d1b22e42fbc869fc",
        "type": "ui_group",
        "name": "Caixa d’Água",
        "tab": "92cc920f8b4dcad7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9dc267cbc65c914",
        "type": "inject",
        "z": "e8e410212f80d4d2",
        "name": "Simular Sensor HC-SR04 (Uno)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensor/agua/distancia",
        "payload": "30",
        "payloadType": "num",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "e7d023c48ebfbb4f"
            ]
        ]
    },
    {
        "id": "e7d023c48ebfbb4f",
        "type": "mqtt out",
        "z": "e8e410212f80d4d2",
        "name": "",
        "topic": "sensor/agua/distancia",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "efc040c737662a39",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "3017b1f444523af6",
        "type": "mqtt in",
        "z": "e8e410212f80d4d2",
        "name": " Receber Distância",
        "topic": "sensor/agua/distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "efc040c737662a39",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "1a97a7658e734584",
                "6beaf6a081533556",
                "759aaf68746e7d41"
            ]
        ]
    },
    {
        "id": "1a97a7658e734584",
        "type": "function",
        "z": "e8e410212f80d4d2",
        "name": "Lógica da Bomba",
        "func": "let distancia = parseFloat(msg.payload);\n\n// Saída 1: LED (bomba ligada = true)\nlet statusLED = {};\n// Saída 2: Texto da bomba\nlet statusTexto = {};\n\nif (distancia > 15) {\n    statusLED.payload = true;\n    statusTexto.payload = \"BOMBA ON (nível baixo)\";\n} else {\n    statusLED.payload = false;\n    statusTexto.payload = \"BOMBA OFF (nível ideal ou cheia)\";\n}\n\nreturn [statusLED, statusTexto];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "a1522ff61d7f8d6b"
            ],
            [
                "73b7416b09110bc9"
            ]
        ]
    },
    {
        "id": "a1522ff61d7f8d6b",
        "type": "ui_led",
        "z": "e8e410212f80d4d2",
        "order": 0,
        "group": "d1b22e42fbc869fc",
        "width": 0,
        "height": 0,
        "label": "Bomba",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Bomba (LED)",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "73b7416b09110bc9",
        "type": "ui_text",
        "z": "e8e410212f80d4d2",
        "group": "d1b22e42fbc869fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status da Bomba",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "6beaf6a081533556",
        "type": "ui_gauge",
        "z": "e8e410212f80d4d2",
        "name": "",
        "group": "d1b22e42fbc869fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distância da Água (cm)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "759aaf68746e7d41",
        "type": "ui_text",
        "z": "e8e410212f80d4d2",
        "group": "d1b22e42fbc869fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nível da Água",
        "format": "{{msg.payload}} cm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 280,
        "wires": []
    }
]