codigo/codigo-node-red.json
[
    {
        "id": "e8e410212f80d4d2",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9dc267cbc65c914",
        "type": "inject",
        "z": "e8e410212f80d4d2",
        "name": "Simulador de Nível de Água",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "9be1b31953607246"
            ]
        ]
    },
    {
        "id": "9be1b31953607246",
        "type": "mqtt out",
        "z": "e8e410212f80d4d2",
        "name": "",
        "topic": "sensor/agua/distancia",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "efc040c737662a39",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "2da6303730edaa27",
        "type": "mqtt in",
        "z": "e8e410212f80d4d2",
        "name": "",
        "topic": "sensor/agua/distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "efc040c737662a39",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "fc56cd6d1577f19c"
            ]
        ]
    },
    {
        "id": "fc56cd6d1577f19c",
        "type": "switch",
        "z": "e8e410212f80d4d2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "cabe63968aaa3f7a"
            ],
            [
                "12859edffe9843c8"
            ]
        ]
    },
    {
        "id": "cabe63968aaa3f7a",
        "type": "debug",
        "z": "e8e410212f80d4d2",
        "name": "LED Ligado (Bomba Ativa)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 861,
        "y": 173,
        "wires": []
    },
    {
        "id": "12859edffe9843c8",
        "type": "debug",
        "z": "e8e410212f80d4d2",
        "name": "LED Desligado (Nível OK)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "efc040c737662a39",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]